## **stack**

In [1]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [2]:
a.append(10)
a

[1, 2, 3, 4, 5, 10]

In [3]:
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [4]:
c = a.pop()
c

20

In [5]:
a

[1, 2, 3, 4, 5, 10]

In [6]:
# 입력된 글자를 역순으로 출력
word = input("Input a word : ")
word_list = list(word)
for i in range(len(word_list)):
    print(word_list.pop())
    print(word_list)

Input a word : naver
r
['n', 'a', 'v', 'e']
e
['n', 'a', 'v']
v
['n', 'a']
a
['n']
n
[]

## **queue**

In [1]:
a = [1, 2, 3, 4, 5]
a.append(10)
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [2]:
first = a.pop(0)
first

1

In [3]:
a

[2, 3, 4, 5, 10, 20]

## **tuple**

In [6]:
t = (1, 2, 3)
type(t)

tuple

In [7]:
t + t, t*2

((1, 2, 3, 1, 2, 3), (1, 2, 3, 1, 2, 3))

In [8]:
len(t)

3

In [9]:
t = (1) # 일반 정수로 인식
type(t)

int

In [10]:
t = (1, ) # 값이 하나면 tuple은 반드시 ','를 붙어야 함
type(t)

tuple

## **set**

In [11]:
s = set([1, 2, 3, 4, 5, 2, 3, 4])
s

{1, 2, 3, 4, 5}

In [12]:
s.add(1) # 한 원소 1만 추가
s

{1, 2, 3, 4, 5}

In [15]:
s = {1, 2}
type(s)

set

In [16]:
s.remove(1) # 1 삭제
s

{2}

In [17]:
s.update([1, 4, 6, 7]) # 추가
s

{1, 2, 4, 6, 7}

In [19]:
s.discard(4) # 4 삭제
s

{1, 2, 6, 7}

In [21]:
s.clear() # 모든 원소 삭제
s

set()

In [22]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([3, 4, 5, 6, 7])

In [23]:
# s1과 s2의 합집합
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [24]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [25]:
# s1과 s2의 교집합
s1.intersection(s2)

{3, 4, 5}

In [26]:
s1 & s2

{3, 4, 5}

In [27]:
# s1과 s2의 차집합
s1.difference(s2)

{1, 2}

In [28]:
s1 - s2

{1, 2}

## **dictionary**

In [29]:
# Dict 생성, country_code = dict()도 가능
country_code = {}
country_code = {'America' : 1,
               'Korea' : 82,
               'Japan' : 81}

In [30]:
# Dict 데이터 출력
country_code.items()

dict_items([('America', 1), ('Korea', 82), ('Japan', 81)])

In [31]:
# Dict 키 값만 출력
country_code.keys()

dict_keys(['America', 'Korea', 'Japan'])

In [32]:
# Dict 추가
country_code['German'] = 49
country_code

{'America': 1, 'Korea': 82, 'Japan': 81, 'German': 49}

In [33]:
# Dict Value만 출력
country_code.values()

dict_values([1, 82, 81, 49])

In [34]:
for k, v in country_code.items():
    print('Key :', k)
    print('Value :', v)

Key : America
Value : 1
Key : Korea
Value : 82
Key : Japan
Value : 81
Key : German
Value : 49

In [35]:
"Korea" in country_code.keys() # Key값에 Korea가 있는지 확인

True

In [36]:
82 in country_code.values() # Value값에 82가 있는지 확인

True

## **collections**
- from collections import deque
- from collections import Countet
- from collections import OrderedDict
- from collections import defaultdict
- from collections import namedtuple

In [37]:
# deque
# Stack과 Queue를 지원하는 모듈
from collections import deque

In [38]:
deque_list = deque()
for i in range(5):
    deque_list.append(i)
print(deque_list)

deque([0, 1, 2, 3, 4])

In [39]:
deque_list.appendleft(10)
print(deque_list)

deque([10, 0, 1, 2, 3, 4])

In [40]:
deque_list.rotate(2)
print(deque_list)

deque([3, 4, 10, 0, 1, 2])

In [41]:
deque_list.rotate(2)
print(deque_list)
print(deque(reversed(deque_list)))

deque([1, 2, 3, 4, 10, 0])
deque([0, 10, 4, 3, 2, 1])

In [42]:
deque_list.extend([5, 6, 7])
print(deque_list)

deque([1, 2, 3, 4, 10, 0, 5, 6, 7])

In [43]:
deque_list.extendleft([5, 6, 7])
print(deque_list)

deque([7, 6, 5, 1, 2, 3, 4, 10, 0, 5, 6, 7])

In [46]:
# deque는 기존 list보다 효율적인 자료구조를 제공

# deque
def deque_list():
    deque_list = deque()
    # Stack
    for i in range(100):
        for i in range(100):
            deque_list.append(i)
            deque_list.pop()

%timeit deque_list()

2.6 ms ± 260 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [47]:
def general_list():
    just_list = []
    # Stack
    for i in range(100):
        for i in range(100):
            just_list.append(i)
            just_list.pop()

%timeit general_list()

7.43 ms ± 271 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [2]:
# defaultdict
# Dict type의 값에 기본 값을 지정, 신규값 생성시 사용하는 방법
from collections import defaultdict
d = defaultdict(object) # Default dictionary를 생성
d = defaultdict(lambda: 0) # Default 값을 0으로 설정
d

defaultdict(<function __main__.<lambda>()>, {})

In [3]:
d['second']

0

In [4]:
# default_dict_example
def default_value():
    return 10

d = defaultdict(default_value)
d

defaultdict(<function __main__.default_value()>, {})

In [5]:
d['first']

10

In [6]:
# text-mining 접근법 : Vector Space Model
text = """A press release is the quickest and easiest way to get free publicity.
If well written, a press release can result in multiple published articles about your
firm and its products. And that can mean new prospects contacting you asking you to sell to them.""".lower().split()

In [7]:
text

['a',
 'press',
 'release',
 'is',
 'the',
 'quickest',
 'and',
 'easiest',
 'way',
 'to',
 'get',
 'free',
 'publicity.',
 'if',
 'well',
 'written,',
 'a',
 'press',
 'release',
 'can',
 'result',
 'in',
 'multiple',
 'published',
 'articles',
 'about',
 'your',
 'firm',
 'and',
 'its',
 'products.',
 'and',
 'that',
 'can',
 'mean',
 'new',
 'prospects',
 'contacting',
 'you',
 'asking',
 'you',
 'to',
 'sell',
 'to',
 'them.']

In [8]:
def get_key(x):
    return x[1]

In [9]:
from collections import OrderedDict

In [10]:
d = defaultdict(lambda: 0)
for word in text:
    d[word] += 1
    
sorted_dict = OrderedDict()
for i, v in sorted(d.items(), key=get_key, reverse=True):
    sorted_dict[i] = v
    
print(sorted_dict)

OrderedDict([('and', 3), ('to', 3), ('a', 2), ('press', 2), ('release', 2), ('can', 2), ('you', 2), ('is', 1), ('the', 1), ('quickest', 1), ('easiest', 1), ('way', 1), ('get', 1), ('free', 1), ('publicity.', 1), ('if', 1), ('well', 1), ('written,', 1), ('result', 1), ('in', 1), ('multiple', 1), ('published', 1), ('articles', 1), ('about', 1), ('your', 1), ('firm', 1), ('its', 1), ('products.', 1), ('that', 1), ('mean', 1), ('new', 1), ('prospects', 1), ('contacting', 1), ('asking', 1), ('sell', 1), ('them.', 1)])

In [11]:
sorted_dict['to']

3

In [12]:
# counter
# Sequence type의 data element들의 갯수를 dict 형태로 반환
from collections import Counter

c = Counter()
c = Counter('gallahad')
print(c)

Counter({'a': 3, 'l': 2, 'g': 1, 'h': 1, 'd': 1})

In [13]:
c = Counter({'red' : 4, 'blue' : 2})
print(list(c.elements()))

['red', 'red', 'red', 'red', 'blue', 'blue']

In [14]:
c = Counter(cats=4, dogs=8)
print(list(c.elements()))

['cats', 'cats', 'cats', 'cats', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs']

In [15]:
# namedtuple
# Tuple 형태로 Data 구조체를 저장하는 방법
from collections import namedtuple

Point = namedtuple('Point', ['x', 'y'])
Point

__main__.Point

In [16]:
p = Point(11, y=22)
p[0], p[1]

(11, 22)

In [17]:
x, y = p
print(x, y)
print(p.x + p.y)
print(Point(x=11, y=22))

11 22
33
Point(x=11, y=22)